body{
  min-width: 375px;
  background-color: #110620;

  &.nav--open {
    overflow: hidden;
    @include mmin($laptop) {
      overflow: inherit;
    }
  }
}

.container {
  @include container(1230px);
  padding: 0 calc(#{$subline} * 2);
}
